body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to top, #fff6f6, #2b2929);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
}

.login-container h1 {
  margin-bottom: 1.5rem;
  font-size: 24px;
  color: #111;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  text-align: left;
  font-weight: bold;
  color: #333;
}

input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #111;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #faf8f8;
  color:#111;
  border: 1px solid #111;
}

.error {
  color: red;
  margin-top: 1rem;
  font-size: 14px;
}
