body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #222;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.productos {
  padding: 2rem;
  text-align: center;
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.producto {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.producto img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.precio {
  display: block;
  margin-top: 0.5rem;
  font-weight: bold;
  color: #c0392b;
}

footer {
    padding: 50px 50px;
    background-color: #111;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link a {
    font-size: 16px;
    color: #dcdcdc;
    display: block;
    margin-bottom: 10px;
}


